- content_for :under_wrapper do
  .main-block.page-sto
    .main-wrapper.clearfix
      .left-column.inner
        .text
          Станция
          %br
          технического
          %br
          обслуживания
        .editor-text.main-scrollable{style: 'height: 100px;'}
          = raw Page.get_content('sto')
        .bottom
          .info-blocks.clearfix
            - if MainText.has_content?('sto_phone')
              .info-block
                .icon
                  = image_tag('icons/phone_red.png')
                .content
                  Телефон
                  .value
                    = raw MainText.get_content('sto_phone')
            - if MainText.has_content?('sto_address')
              .info-block
                .icon
                  = image_tag('icons/location_red.png')
                .content
                  Адрес станции
                  .value
                    = raw MainText.get_content('sto_address')
          .hint
            = image_tag('icons/important.png')
            Получите скидку на услуги покупая в нашем
            = link_to 'интернет-магазине', catalog_index_path
      .right-column.black
        .title Запишитесь через интернет
        .hint После заполнения формы с вами свяжется менеджер по указанному телефону для уточнения информации.
        .form
          = render 'forms/form_sto'

  = render 'map'
