.catalog-menu.clearfix

  .menu-items
    = link_to 'Автокаталог', catalog_index_path, class: "#{'active' if @menu == 'catalog'}"
    = link_to 'Прайс лист', price_catalog_index_path, class: "#{'active' if @menu == 'price'}"

  .menu-search

    %form{action: search_path, method: :get, autocomplete: 'off'}
      .input
        = text_field_tag :q, params[:q], placeholder: 'АРТИКУЛ, КОД ТОВАРА, КЛЮЧЕВОЕ СЛОВО'
        = hidden_field_tag :where, 'price'
        - if action_name == 'price'
          - if params[:category].present?
            = hidden_field_tag :q_category, params[:category]
          - if params[:subcategory].present?
            = hidden_field_tag :q_subcategory, params[:subcategory]
          - if params[:lastcategory].present?
            = hidden_field_tag :q_lastcategory, params[:lastcategory]
        -#- else
          - if @mark.present?
            = hidden_field_tag :q_mark, @mark.ID
          -#- if @grouptree.present?
          -#  = hidden_field_tag :q_group, @grouptree.PARENT
          - if @model.present?
            = hidden_field_tag :q_model, @model.ID
      .action
        = submit_tag '', name: nil


