.drawings{id: "dpart-list-#{params[:model]}-#{params[:group]}"}
  - @parts.each do |part|
    .drawing
      = link_to image_tag(model_drawing_image_path(part)), product_path("#{part.IDMODEL}-#{part.GROUPNO}"), title: "Чертеж: #{part.GROUPNAME} #{@model.NAMESHORT}", data: {model: part.IDMODEL, group: part.GROUPNO}
